body{
    font-family: 'Microsoft Yahei', '微软雅黑', Helvetica, 'Hiragino Sans GB', Arial, sans-serif;
    font-size: 14px;
}
a {
    color: #333333;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    color: #212e3c;
    text-decoration: none;
}

.navbar-default .container-fluid{
    height: 82px;
    min-width: 800px;
    background-image: url("../img/bg_top.png");
    background-repeat: no-repeat;
}
.navbar {
    margin-bottom: 0;
    border: 1px solid transparent;
}
.navbar > .container-fluid .navbar-brand{
    margin-left: 0;
}
.top-navbar{
    overflow: auto;
    white-space: nowrap;
}
.navbar-nav{
    margin: 7.5px 0 2px 0;
    overflow: auto;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-size: 18px;
}
.navbar-default .navbar-nav > li {
    text-align: center;
    cursor: pointer;
}
.navbar-default .navbar-nav > li.onShow > a{
    color: #ffb643;
}
.navbar-default .navbar-nav > li > .title-hover {
    color: #ffb643;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #ffb643;
}
.navbar-default{
    background-color: #212e3c;
    border: none;
}
.navbar-header{
    margin-top: 16px;
}
.navbar-brand{
    padding: 5px 5px;
}

.nav > li > a {
    padding: 10px 10px;
}
.nav > li > a > span{
    padding: 8px 2px;
}

/*侧边栏导航*/
.sidebar{
    /*padding-top: 10px;*/
}
.col-md-1{
    /*min-width: 120px;*/
    /*max-width: 136px;*/
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}
.col-md-1 .nav-sidebar{
    padding: 0;
}
.menu_container>ul{
    margin-top: 15px;
    display: none;
}
.menu_container>ul.onShow{
    display: block;
    color: #ffb643;
}

.nav-sidebar{
    margin-bottom: 0;
    list-style: none;
    padding: 0;
}
.nav-sidebar > li > a{
    padding: 5px 10px;
    text-align: center;
}
.nav-sidebar > li > a{
    padding: 5px 10px;
    text-align: center;
}
.tool-sidebar{
    margin-bottom: 0;
    list-style: none;
    padding: 0;
}
.nav-sidebar > li, .nav-sidebar > li > a, .tool-sidebar > li {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
/*.tool-sidebar > .tool-sidebar-1{*/
    /*width: 58.3%;*/
/*}*/
/*.tool-sidebar > .tool-sidebar-2{*/
    /*width: 38.2%;*/
/*}*/
.tool-sidebar > li > a{
    position: relative;
    display: block;
    text-align: center;
    padding: 5px 5px;
    font-size: 12px;
    color: #d1622b;
}
.tool-sidebar > li > a > span{
    font-size: 14px;
    display: block;
    margin: 2px auto;
}
.tool-sidebar > li > a:hover, .tool-sidebar > li > a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #d1622b;
    cursor: pointer;
}

/*顶部时间条*/
.time-bar{
    color: #212e3c;
    top: 32px;
    height: 80px;
    float: right;
    padding: 5px 25px;
    background-color: rgba(33,46,60,0.5);
    border-bottom: solid 1px rgba(33,46,60,0.6);
}
.time-bar .mycheck{
    margin: 10px 5px 10px 0;
}
.time-bar .mycheck label{
    padding-left: 20px;
    color: #2aabd2;
}

/*checkbox*/
.checkbox {
    overflow: hidden;
    display: block;
    margin: 10px 0;
    color: #919191;
    cursor: pointer;
}

.checkbox:hover { color: #000; }

.checkbox input { display: none; }

.checkbox input:checked + .checkbox__state { background-position: -40px; }

.checkbox input:checked ~ .checkbox__title { color: #000; }

.checkbox__state {
    float: left;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-image: url( grey.png );
}

.checkbox:hover .checkbox__state { background-position: -20px; }

.checkbox_padding {
    position: relative;
    width: 40px;
    height: 40px;
}

.checkbox_padding .checkbox__state {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
}
